@import url('https://fonts.googleapis.com/css2?family=DM+Sans');
@import 'react-toastify/dist/ReactToastify.css';


.add-title{
    color: #6CCAC8;
}

form{
    font-family:"DM Sans";
}

.form-buttons{
    display: flex;
    justify-content: space-around;
}

.form-buttons button{
    padding: 10px;
    width: 200px;
    background-color: #4b3ca8;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top:20px;
}
  
button:hover {
    background-color: #413c69;
  }
.add-form {
    padding: 20px;
    font-family: "DM Sans";
}

.error-message{
    font-size: x-small;
    color: darkred;
}
.add-form input[type=text],
.add-form input[type=date],
.add-form select {
    width: calc(100% - 10px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: gray;
}
