@import url('https://fonts.googleapis.com/css2?family=DM+Sans');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One');


.login{
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    background-color: #ffffff;
  }

.nofuss-title h1{
    color: #7C75D1;
    margin: 30px;
    font-family: Jockey One;
    font-size: 100px;
  }
  
.login-title h2{
    color: #6CCAC8;
    font-size: 60px;
    font-family: DM Sans;
  }

.form-container {
    margin: 50px;
    font-family: DM Sans;
  }
  
  
form {
    display: flex;
    flex-direction: column;
  }
  
.form-login input {
    width: 450px;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: gray;
  }
  
.form-login button {
    padding: 10px;
    width: 450px;
    background-color: #4b3ca8;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
button:hover {
    background-color: #413c69;
  }
  
.form-login a {
    color: #4b3ca8;
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }
  
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#6CCAC8;
  }
  
.image-container img {
    height: 100vh;
    object-fit: cover;
    left: 40%;
  }
  
.form-login{
    margin: 40px;
  }
  
.button-text{
    align-items: center;
  }