@import url('https://fonts.googleapis.com/css2?family=Jockey+One');

.navbar {
    height: 100vh; 
    width: 15%;
    background-color: #6CCAC8; 
    position: fixed; 
    left: 0; 
    top: 0; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    font-family: 'Jockey One';
}

.navbar .logo {
    font-size: 2em; 
    font-weight: bold;
    color: white;
    margin: 10px 0; 
    padding: 10px;
   
}
.link-logo{
    text-decoration: none;
    color: white;
}

.navbar ul {
    list-style-type: none; 
    padding: 0; 
}

.navbar ul li a {
    text-decoration: none; 
    color: white; 
    display: block; 
    padding: 10px 20px; 
}

.navbar ul li a:hover {
    background-color: #7C75D1; 
}

.logout{
    list-style-type: none; 
    margin:20px;
}

.logout-button{
    background-color:#6CCAC8; 
    color:white;
    font-size: large;
    border: none;
    border-radius: 10px;
}

.navbar .hr {
    height: 20px;
    margin: 10px;
    opacity: 1;
}
