@import url('https://fonts.googleapis.com/css2?family=Jockey+One');

.navbar {
    height: 100vh; 
    width: 15%;
    background-color: #6CCAC8; 
    position: fixed; 
    color: white; 
    box-sizing: border-box;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    overflow-y: auto;
    padding: 1rem;
    font-family: 'Jockey One';
}

.navbar .logo {
    font-size: 3em; 
    font-weight: bold;
    margin: 10px 0; 
    color: white;
}

.sidebar .nav-pills .nav-link.active, .sidebar .nav-pills .nav-link.active:hover {
    background-color: #7C75D1;
}

.sidebar .nav-pills .nav-link {
    border-radius: 0.25rem; 
}
