pie-chart-container {
    align-items: right;
    height: 100vh; 
    padding-right: 50px; 
    width: 300px; 
    height: 300px; 
    left: 50%;
}

.pie-chart-box {
    width: 300px; 
    height: 300px; 
}