@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f9f9f9; 
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 5px 15px;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 8px 12px;
    border: none; 
    border-radius: 20px;
    font-family: "DM Sans";
    font-size: 1em; 
    color: #333; 
    background-color: transparent; 
    margin-left: 10px; 
}

.search-icon {
    color: #4a4a4a; 
    font-size: 1.2em; 
}

.search-bar input::placeholder {
    color: #aaa; 
}

.search-bar input:focus {
    outline: none;
}
