.sign-up {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    background-color: #f0f4f8;
  }

.nofuss-title {
    color: #7C75D1;
    font-size: xxx-large;
    margin: 50px;
  }
  
.sign-up-title{
    color: #6CCAC8;
    font-size: xx-large;
  }

.form-container {
    margin: 50px;
  }
  
  
form {
    display: flex;
    flex-direction: column;
  }
  
input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
button {
    padding: 10px;
    background-color: #4b3ca8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #413c69;
  }
  
  a {
    color: #4b3ca8;
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }
  
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#6CCAC8;
  }
  
.image-container img {
    height: 100vh;
    object-fit: cover;
  }
  