@import url('https://fonts.googleapis.com/css2?family=DM+Sans');

.task-board {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    width: 30%;
    min-height: 300px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 50px;
}

.task-square {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: grab;
    font-family: DM Sans;
}

.task-square:active {
    cursor: grabbing;
}

.task-square h3 {
    margin: 0;
    color: #333;
}

.task-square p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #666;
}

.task-square {
    position: relative;
}

.task-menu {
    position: absolute;
    top: 20px;
    right: 5px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    z-index: 10;
}

.task-square:hover .task-menu {
    display: block;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content-delete {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.popup-content-update {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.update-box{
    margin: 40px;
}

.update-box .input{
    display: flex;
}

.update-buttons{
    display: flex;
    justify-content: space-around;
}

.delete-buttons .button{
    background-color: #7C75D1;
}

.delete-buttons{
    display: flex;
    justify-content: space-around;
}

.menu-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    color:#a19595;
}

.task-square.overdue {
    background-color: #fce2e2;
}

.column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-count {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}

.status-underline {
    border: none;
    height: 4px;
    margin: 10px;
}

.status-underline.to-do {
    background-color: rgb(43, 4, 128);
}

.status-underline.in-progress {
    background-color: rgb(243, 202, 22);
}

.status-underline.done {
    background-color: rgb(15, 175, 151);
}

.priority-label {
    border: none;
    padding: 5px;
}

.priority-label.high {
    background-color: #FCF2F2;
    color: #E1929A;
}

.priority-label.medium  {
    background-color: #F9EEE3;
    color: #D48D49;
}

.priority-label.low  {
    background-color: #e3f9f7;
    color: #49c8d4;
}

