@import url('https://fonts.googleapis.com/css2?family=Jockey+One');

.top-hi {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #f0f0f0; 
    padding: 0 20px;
    margin-bottom: 20px;
  }
  
  .nav-content {
    align-items: center;
    padding: 10px;
  }
  
  h1 {
    margin-right: 20px; 
    font-size: 30px; 
    font-family: Jockey One;
    color: #7C75D1;
  }
  
 
  