.welcome-body{
    margin-left: 250px;
}

.welcome-title{
    color:#6CCAC8; 
    text-align:left;
    font-size: xxx-large;
}

.data-section{
    margin-top: 30px;
}

.pie-chart-container {
    height: 100vh; 
    padding-right: 50px; 
}

.middle-body{
    display: flex;
    margin-left: 70px;
}

.right-side-msg{
    display: block;
}

.right-side-msg img{
    height: 400px;
    width: 400px;
}